# gitmodules

[submodule "src/px4_msgs"]
    path = src/px4_msgs
    url = https://github.com/PX4/px4_msgs.git
    branch = release/1.15

[submodule "src/px4_ros2_interface"]
    path = src/px4_ros2_interface
    url = https://github.com/Auterion/px4-ros2-interface-lib.git
    branch = 1.3.0
    
[submodule "src/fsm"]
    path = src/fsm
    url = https://github.com/Equipe-eVTOL-ITA/fsm.git
    branch = main
    
[submodule "src/camera_publisher"]
		path = src/camera_publisher
    url = https://github.com/Equipe-eVTOL-ITA/camera_publisher.git

[submodule "src/custom_msgs"]
    path = src/custom_msgs
    url = https://github.com/Equipe-eVTOL-ITA/custom_msgs.git
 
[submodule "src/drone_lib"]
		path = src/drone_lib
		url = https://github.com/Equipe-eVTOL-ITA/drone_lib.git